h2 {
  color: rgb(114, 15, 114);
  text-align: center;
}

.Lesarticles {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 200px;
}

.Prix {
  color: black;
  align-content: center;
  padding: 20px;
  margin-left: 40px;
}

.Total {
  font-size: 40px;
}
